@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

h1{
	color: inherit;
}
h2{
	color: rgb(255,0,10);
	font-size:50px; 
}
body{ 
	background-color: #b90e0e;
	text-align: center;
	color: rgb(255 0 10);
	font-family: 'Lora', serif;
	font-size: 20px;
	font-weight: lighter;
	border:solid 1px ;
	background-image: url(https://img.freepik.com/vecteurs-libre/fond-rouge-aquarelle-valentine-rouge_1340-4028.jpg?size=338&ext=jpg&ga=GA1.2.1930910950.1628294400);
}

a {
	text-decoration: none;
}
div{ width: 75%;
	padding: 20px;
	margin:25px auto;
	background-color:white ;
	border: solid 1px white;
	border-radius: 5px;
	box-shadow: 1px 2px 0px 0px #00000030
	 }

img {
	border-radius: 50%
}
.button-blue {
	background-color: red;
	color: white;
	font-weight: bold;
	padding: 16px;
	border-radius: 6px;
	border: 1px red solid;
	margin: 24px auto;
	display: block;
	width: 20%;
	transition: 1s;
}
.button-blue:hover{
	background-color: white;
	color: red;
	transition: 1s;
}

i{
	font-size: 46px;
	color: black;
}

i:hover{
	color: rgb(255 0 10);
	transition: 1s;
}
#list-inline li{
	display: inline;
	margin: 0 8px;
}

#list-inline {
	padding: 0;
}

p{
	color: black; 
}